.projectName{
    text-align: left !important;
}
.cardContent{
    margin-bottom: 13px !important;
    padding: 25px !important;
    height: 150px;
}
.slick-list{
    padding-left: 4% !important;
    padding-bottom: 2% !important;
}
.cardContentExtra{
    padding-left: 25px !important;
}
.viewProjectLink{
    color: black !important;
}