@font-face {
  font-family: "Avenir";
  src: url("css/fonts/Avenir/AvenirNextLTPro-Bold.otf"),
  url("css/fonts/Avenir/AvenirNextLTPro-It.otf"),
  url("css/fonts/Avenir/AvenirNextLTPro-Regular.otf")
  }


body {
  /* font-family: 'Avenir', sans-serif; */
  font-family: 'Pacifico', cursive;
}