.aboutMe{
    /* background-image: url(https://images.unsplash.com/photo-1445112098124-3e76dd67983c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    height: 100%;
}
.fixedHeader{
    position: unset;
    width: 100%;
    z-index: 1;
    top: -1px;
    background-color: black;
    padding: 8px;
    text-align: right;
}
.aboutMeText{
    position: relative;
    top: 54vh;
    left: 50%;
    right: 40%;
    box-sizing: border-box;
    background-color: white;
    padding: 3%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
img {
    border-radius: 50%;
    width: 40%;
  }
  .profilePic{
    margin-top: 10%;
  }
  .amText{
      color: black;
      font-size: 2.5rem;
      /* font-weight: bold; */
      position: relative;
  }
  .amText::before{
    content: '';
    position: absolute;
    height: 5px;
    background-color: black;
    width: 28px;
    bottom: -25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .amText::after{
      height: 10px;
  }


  .sp{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 15px;

  }
  .sp1{
    display: inline-block;
    margin-bottom: 10px;

  }
  .amContent{
      color: black;
      font-size: 1.25rem;
      font-weight: 300;
  }
  .imageDiv{
      flex: 1;
      text-align: center;
  }
  .aboutMeDiv{
      flex: 1;
  }